In [77]:
import pandas as pd
from geopy.geocoders import GoogleV3

In [78]:
overDose = pd.read_csv('../Data/CCMEO_Cuyahoga_County.csv')

In [79]:
overDose.head()

,Case,"Substance(s) contributing to death through acute intoxication (unless otherwise stated, the death was ruled accidental)",Death Date Month,Death Date Day,Death Date Year,Death Date,Race,Hispanic,Gender,Birth Date,Age,Marital Status,Occupation,rc Inj Location,rc Inj Cty State,rc Injury Date,rc Place of Death,rc City of Death,rc County of Death,Location 1
0,IN2014-00862,Heroin,5,18,2014,05/18/2014 12:00:00 AM,Black,No,Male,04/02/1952 12:00:00 AM,61.0,Divorced,self employed,1300 Superior Avenue #1409,Cleveland-Cuyahoga-OH,05/15/2014 12:00:00 AM,1300 Superior Avenue #1409,Cleveland,Cuyahoga,"1300 Superior Avenue #1409\nCleveland, Ohio 44..."
1,IN2014-01733,Heroin,10,11,2014,10/11/2014 12:00:00 AM,White,No,Male,05/25/1963 12:00:00 AM,51.0,Single,(unknown),unknown location(s),Cleveland-Cuyahoga-OH,10/11/2014 12:00:00 AM,Lakewood Hospital,Lakewood,Cuyahoga,"unknown location(s)\nLakewood, Ohio 44113\n"
2,IN2015-01080,Heroin,6,7,2015,06/07/2015 12:00:00 AM,White,No,Male,09/25/1959 12:00:00 AM,55.0,Divorced,mechanical inspector,11839 Pearl Road #210,Strongsville-Cuyahoga-OH,05/31/2015 12:00:00 AM,11839 Pearl Road #210,Strongsville,Cuyahoga,"11839 Pearl Road #210\nStrongsville, Ohio 4413..."
3,IN2016-00394,Fentanyl and alcohol,2,20,2016,02/20/2016 12:00:00 AM,White,No,Male,09/29/1977 12:00:00 AM,38.0,Never Married,unknown,4211 Henritze Avenue,Cleveland-Cuyahoga-OH,02/20/2016 12:00:00 AM,4211 Henritze Avenue,Cleveland,Cuyahoga,"4211 Henritze Avenue\nCleveland, Ohio 44109\n(..."
4,IN2014-00904,Heroin,5,24,2014,05/24/2014 12:00:00 AM,White,No,Male,04/25/1978 12:00:00 AM,36.0,Single,manager,21040 Westport Avenue,Euclid-Cuyahoga-OH,05/24/2014 12:00:00 AM,21040 Westport Avenue,Euclid,Cuyahoga,"21040 Westport Avenue\nEuclid, Ohio 44123\n(41..."

In [80]:
overDose = overDose[overDose['rc Inj Location'] != 'unknown location(s)']
overDose = overDose[overDose['rc Inj Location'] != 'Unknown location(s)']
overDose = overDose[['rc Inj Location', 'rc Inj Cty State', 'Substance(s) contributing to death through acute intoxication  (unless otherwise stated, the death was ruled accidental)']]
overDose.columns = ['Address', 'City','Substance']
overDose.head()

                      Address                      City              Substance
0  1300 Superior Avenue #1409     Cleveland-Cuyahoga-OH                 Heroin
2       11839 Pearl Road #210  Strongsville-Cuyahoga-OH                 Heroin
3        4211 Henritze Avenue     Cleveland-Cuyahoga-OH   Fentanyl and alcohol
4       21040 Westport Avenue        Euclid-Cuyahoga-OH                 Heroin
5             1476 Bunts Road      Lakewood-Cuyahoga-OH  Heroin and fentanyl

In [81]:
cities = []
for ix, row in overDose.iterrows():
    city = row['City'].split('-')[0] + ', OH'
    cities.append(city)
overDose['City'] = cities
overDose.head()

                      Address              City              Substance
0  1300 Superior Avenue #1409     Cleveland, OH                 Heroin
2       11839 Pearl Road #210  Strongsville, OH                 Heroin
3        4211 Henritze Avenue     Cleveland, OH   Fentanyl and alcohol
4       21040 Westport Avenue        Euclid, OH                 Heroin
5             1476 Bunts Road      Lakewood, OH  Heroin and fentanyl

In [82]:
overDose_count = overDose.groupby(['Address', 'City']).count()
overDose_count = overDose_count[['Substance']]
overDose_count.reset_index(inplace=True)
overDose_count.columns = ['Address', 'City', 'OD_Count']
overDose_count.head()

                    Address                  City  OD_Count
0            1 Jessica Lane  Olmsted Township, OH         1
1       1011 Rose Boulevard  Highland Heights, OH         1
2     10115 Champion Avenue         Cleveland, OH         1
3  10118 Madison Avenue #55         Cleveland, OH         1
4  10423 Ignatius Avenue #3         Cleveland, OH         2

In [70]:
coordinates = []
addresses = []


g = GoogleV3(api_key="AIzaSyCjaCZlpyw8InQKTeGlBm_vfFH4it-qg6g")

for address, city in zip(overDose_count.Address, overDose_count.City):
    try:
        inputAddress = address + ' ' + city
        location = g.geocode(inputAddress, timeout=15)
        coordinates.append((location.latitude, location.longitude))
        addresses.append(address)
    except:
        print('Error, skipping address...')


geocodes = pd.DataFrame({'address':addresses, 'coordinate':coordinates})

Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...

In [83]:
overDose_count = pd.merge(overDose_count, geocodes, how='inner', left_on='Address', right_on='address')
overDose_count.drop('address', axis=1, inplace=True)
overDose_count.head()

,Address,City,OD_Count,coordinate
0,1 Jessica Lane,"Olmsted Township, OH",1,"(41.3846135, -81.9124121)"
1,1011 Rose Boulevard,"Highland Heights, OH",1,"(41.5327798, -81.4700849)"
2,10115 Champion Avenue,"Cleveland, OH",1,"(41.460123, -81.754459)"
3,10118 Madison Avenue #55,"Cleveland, OH",1,"(41.478842, -81.755009)"
4,10423 Ignatius Avenue #3,"Cleveland, OH",2,"(41.464564, -81.758445)"

In [84]:
overDose_count.to_csv('../Data/processed/OD_count.csv')