# Create Building Score Feature Space
#### Daniel Fay

#### Input:
* Police Dispatch
* Foreclosures
* Owner
* complaint data  


* Tenant Count
* Utility backpay

In [37]:
import pandas as pd
import geopandas as gpd

In [38]:
foreclosures = pd.read_csv('../Data/processed/FC_count.csv', index_col=0)
police = pd.read_csv('../Data/processed/PD_count.csv')
complaints = pd.read_csv('../Data/processed/complaint_count.csv')
owners = gpd.read_file('../Data/Master_Building/CH_Only_Clip.shp')

In [39]:
owners.head()

,PARCELPIN,PARCEL_ID,building_t,geometry,gross_tax,land_tax,land_use,last_sale,owner,parcel_add,parcel_cit,propcode,sale_amoun,seller,sold_date,tax_year,tot_com_sq,tot_res_sq,total_sqft,vacant
0,68104092,68104092,60400.0,POLYGON ((-81.56532396435152 41.53334577574375...,11400.0,71800.0,5100,2009-05,"HUGHES, GERALYNNE","2090 TAYLOR RD, CLEVELAND HEIGHTS, OH, 44112",CLEVELAND HEIGHTS,R,0.0,FEDERAL HOME LOAN MORTGAGE CORPORATION,2009-05-05T11:27:00.000Z,2016.0,0.0,1274.0,4745.0,0.0
1,68401004,68401004,61800.0,"POLYGON ((-81.5806817475017 41.51499576065242,...",12900.0,74700.0,5200,2013-12,HALO INVESTMENTS LLC,"1626 COVENTRY RD, CLEVELAND HEIGHTS, OH, 44118",CLEVELAND HEIGHTS,R,0.0,C-2000 INC,2013-12-12T15:45:00.000Z,2016.0,0.0,3569.0,7500.0,0.0
2,68112053,68112053,0.0,POLYGON ((-81.56557165053658 41.53004719302985...,2700.0,2700.0,5000,2007-11,"NATIONAL CITY BANK, TRUSTEE","0 OAKHILL RD, CLEVELAND HEIGHTS, OH, 44112",CLEVELAND HEIGHTS,R,0.0,Gibian Germaine L,2007-11-27T11:51:00.000Z,2016.0,0.0,0.0,2610.0,1.0
3,68401001,68401001,63600.0,POLYGON ((-81.58082800580637 41.51538821948967...,9300.0,72900.0,5100,2008-02,1612 Coventry LLC,"1612 COVENTRY RD, CLEVELAND HEIGHTS, OH, 44118",CLEVELAND HEIGHTS,R,70000.0,1612 Coventry LLC,2008-02-15T00:00:00.000Z,2016.0,0.0,1402.0,3811.0,0.0
4,68221049,68221049,85700.0,POLYGON ((-81.53542516876514 41.53305654011595...,19300.0,105000.0,5100,1990-11,"GHOLSON, LLOYD W.","1025 RENFIELD RD, CLEVELAND HEIGHTS, OH, 44121",CLEVELAND HEIGHTS,R,73300.0,Gary D Geldart,1990-11-27T00:00:00.000Z,2016.0,0.0,2379.0,9000.0,0.0

In [40]:
addresses = []
for ix,row in owners.iterrows():
    address = str(row['parcel_add'])[:-7]
    addresses.append(address)

owners['parcel_add'] = addresses
owners.head()

,PARCELPIN,PARCEL_ID,building_t,geometry,gross_tax,land_tax,land_use,last_sale,owner,parcel_add,parcel_cit,propcode,sale_amoun,seller,sold_date,tax_year,tot_com_sq,tot_res_sq,total_sqft,vacant
0,68104092,68104092,60400.0,POLYGON ((-81.56532396435152 41.53334577574375...,11400.0,71800.0,5100,2009-05,"HUGHES, GERALYNNE","2090 TAYLOR RD, CLEVELAND HEIGHTS, OH",CLEVELAND HEIGHTS,R,0.0,FEDERAL HOME LOAN MORTGAGE CORPORATION,2009-05-05T11:27:00.000Z,2016.0,0.0,1274.0,4745.0,0.0
1,68401004,68401004,61800.0,"POLYGON ((-81.5806817475017 41.51499576065242,...",12900.0,74700.0,5200,2013-12,HALO INVESTMENTS LLC,"1626 COVENTRY RD, CLEVELAND HEIGHTS, OH",CLEVELAND HEIGHTS,R,0.0,C-2000 INC,2013-12-12T15:45:00.000Z,2016.0,0.0,3569.0,7500.0,0.0
2,68112053,68112053,0.0,POLYGON ((-81.56557165053658 41.53004719302985...,2700.0,2700.0,5000,2007-11,"NATIONAL CITY BANK, TRUSTEE","0 OAKHILL RD, CLEVELAND HEIGHTS, OH",CLEVELAND HEIGHTS,R,0.0,Gibian Germaine L,2007-11-27T11:51:00.000Z,2016.0,0.0,0.0,2610.0,1.0
3,68401001,68401001,63600.0,POLYGON ((-81.58082800580637 41.51538821948967...,9300.0,72900.0,5100,2008-02,1612 Coventry LLC,"1612 COVENTRY RD, CLEVELAND HEIGHTS, OH",CLEVELAND HEIGHTS,R,70000.0,1612 Coventry LLC,2008-02-15T00:00:00.000Z,2016.0,0.0,1402.0,3811.0,0.0
4,68221049,68221049,85700.0,POLYGON ((-81.53542516876514 41.53305654011595...,19300.0,105000.0,5100,1990-11,"GHOLSON, LLOYD W.","1025 RENFIELD RD, CLEVELAND HEIGHTS, OH",CLEVELAND HEIGHTS,R,73300.0,Gary D Geldart,1990-11-27T00:00:00.000Z,2016.0,0.0,2379.0,9000.0,0.0

### Foreclosures

In [41]:
foreclosures = foreclosures[['PPN', 'Count']]
foreclosures.columns = ['PPN', 'FC_count']

In [42]:
owners.PARCELPIN = owners.PARCELPIN.astype(str)
foreclosures.PPN = foreclosures.PPN.astype(str)

In [43]:
len(owners)

16462

In [44]:
featureSpace = pd.merge(owners, foreclosures, how='left', left_on='PARCELPIN', right_on='PPN')

In [45]:
len(featureSpace)

16462

In [46]:
featureSpace.drop(['PPN'], axis=1, inplace=True)
featureSpace.head()

,PARCELPIN,PARCEL_ID,building_t,geometry,gross_tax,land_tax,land_use,last_sale,owner,parcel_add,...,propcode,sale_amoun,seller,sold_date,tax_year,tot_com_sq,tot_res_sq,total_sqft,vacant,FC_count
0,68104092,68104092,60400.0,POLYGON ((-81.56532396435152 41.53334577574375...,11400.0,71800.0,5100,2009-05,"HUGHES, GERALYNNE","2090 TAYLOR RD, CLEVELAND HEIGHTS, OH",...,R,0.0,FEDERAL HOME LOAN MORTGAGE CORPORATION,2009-05-05T11:27:00.000Z,2016.0,0.0,1274.0,4745.0,0.0,2.0
1,68401004,68401004,61800.0,"POLYGON ((-81.5806817475017 41.51499576065242,...",12900.0,74700.0,5200,2013-12,HALO INVESTMENTS LLC,"1626 COVENTRY RD, CLEVELAND HEIGHTS, OH",...,R,0.0,C-2000 INC,2013-12-12T15:45:00.000Z,2016.0,0.0,3569.0,7500.0,0.0,NaN
2,68112053,68112053,0.0,POLYGON ((-81.56557165053658 41.53004719302985...,2700.0,2700.0,5000,2007-11,"NATIONAL CITY BANK, TRUSTEE","0 OAKHILL RD, CLEVELAND HEIGHTS, OH",...,R,0.0,Gibian Germaine L,2007-11-27T11:51:00.000Z,2016.0,0.0,0.0,2610.0,1.0,NaN
3,68401001,68401001,63600.0,POLYGON ((-81.58082800580637 41.51538821948967...,9300.0,72900.0,5100,2008-02,1612 Coventry LLC,"1612 COVENTRY RD, CLEVELAND HEIGHTS, OH",...,R,70000.0,1612 Coventry LLC,2008-02-15T00:00:00.000Z,2016.0,0.0,1402.0,3811.0,0.0,NaN
4,68221049,68221049,85700.0,POLYGON ((-81.53542516876514 41.53305654011595...,19300.0,105000.0,5100,1990-11,"GHOLSON, LLOYD W.","1025 RENFIELD RD, CLEVELAND HEIGHTS, OH",...,R,73300.0,Gary D Geldart,1990-11-27T00:00:00.000Z,2016.0,0.0,2379.0,9000.0,0.0,NaN

### Police Dispatch

In [47]:
police['address1'] = map(lambda x: x.upper(), police['address1'])
police['address1'] = police['address1'] + ', CLEVELAND HEIGHTS, OH'
police.head()

                                            address1  PD_Count
0                3186 EUCLID HEIGHTS BLVD, CLEVEL...         2
1             4075 MONTICELLO BLVD, CLEVELAND HEI...         2
2             1028 GREYTON RD, CLEVELAND HEIGHTS, OH         1
3           1673 EDDINGTON RD, CLEVELAND HEIGHTS, OH         1
4         30 SEVERANCE CIRCLE, CLEVELAND HEIGHTS, OH         1

In [48]:
len(featureSpace)

16462

In [49]:
featureSpace = pd.merge(featureSpace, police, how='left', left_on='parcel_add', right_on='address1')
featureSpace.drop('address1', axis=1, inplace=True)
len(featureSpace)

16462

In [50]:
featureSpace.head()

,PARCELPIN,PARCEL_ID,building_t,geometry,gross_tax,land_tax,land_use,last_sale,owner,parcel_add,...,sale_amoun,seller,sold_date,tax_year,tot_com_sq,tot_res_sq,total_sqft,vacant,FC_count,PD_Count
0,68104092,68104092,60400.0,POLYGON ((-81.56532396435152 41.53334577574375...,11400.0,71800.0,5100,2009-05,"HUGHES, GERALYNNE","2090 TAYLOR RD, CLEVELAND HEIGHTS, OH",...,0.0,FEDERAL HOME LOAN MORTGAGE CORPORATION,2009-05-05T11:27:00.000Z,2016.0,0.0,1274.0,4745.0,0.0,2.0,NaN
1,68401004,68401004,61800.0,"POLYGON ((-81.5806817475017 41.51499576065242,...",12900.0,74700.0,5200,2013-12,HALO INVESTMENTS LLC,"1626 COVENTRY RD, CLEVELAND HEIGHTS, OH",...,0.0,C-2000 INC,2013-12-12T15:45:00.000Z,2016.0,0.0,3569.0,7500.0,0.0,NaN,9.0
2,68112053,68112053,0.0,POLYGON ((-81.56557165053658 41.53004719302985...,2700.0,2700.0,5000,2007-11,"NATIONAL CITY BANK, TRUSTEE","0 OAKHILL RD, CLEVELAND HEIGHTS, OH",...,0.0,Gibian Germaine L,2007-11-27T11:51:00.000Z,2016.0,0.0,0.0,2610.0,1.0,NaN,NaN
3,68401001,68401001,63600.0,POLYGON ((-81.58082800580637 41.51538821948967...,9300.0,72900.0,5100,2008-02,1612 Coventry LLC,"1612 COVENTRY RD, CLEVELAND HEIGHTS, OH",...,70000.0,1612 Coventry LLC,2008-02-15T00:00:00.000Z,2016.0,0.0,1402.0,3811.0,0.0,NaN,11.0
4,68221049,68221049,85700.0,POLYGON ((-81.53542516876514 41.53305654011595...,19300.0,105000.0,5100,1990-11,"GHOLSON, LLOYD W.","1025 RENFIELD RD, CLEVELAND HEIGHTS, OH",...,73300.0,Gary D Geldart,1990-11-27T00:00:00.000Z,2016.0,0.0,2379.0,9000.0,0.0,NaN,NaN

### Complaints

In [51]:
addresses = []
for ix,row in complaints.iterrows():
    address = row['Address'].split(',')[0] + ', Cleveland Heights, OH'
    addresses.append(address)

complaints.Address = addresses
complaints['Address'] = map(lambda x: x.upper(), complaints['Address'])
complaints.head()

                                      Address  Complaint_count
0    1 MONTICELLO BLVD, CLEVELAND HEIGHTS, OH                2
1  1005 ENGLEWOOD ROAD, CLEVELAND HEIGHTS, OH                1
2     1005 PEMBROOK RD, CLEVELAND HEIGHTS, OH                1
3   1005 PEMBROOK ROAD, CLEVELAND HEIGHTS, OH                1
4    1015 PENNFIELD RD, CLEVELAND HEIGHTS, OH                1

In [52]:
len(featureSpace)

16462

In [53]:
featureSpace = pd.merge(featureSpace, complaints, how='left', left_on='parcel_add', right_on='Address')
featureSpace.drop('Address', axis=1, inplace=True)
#featureSpace.drop_duplicates(inplace=True)
featureSpace.dropna(subset=['geometry'], inplace=True)
len(featureSpace)

16500

In [54]:
featureSpace.head()

,PARCELPIN,PARCEL_ID,building_t,geometry,gross_tax,land_tax,land_use,last_sale,owner,parcel_add,...,seller,sold_date,tax_year,tot_com_sq,tot_res_sq,total_sqft,vacant,FC_count,PD_Count,Complaint_count
0,68104092,68104092,60400.0,POLYGON ((-81.56532396435152 41.53334577574375...,11400.0,71800.0,5100,2009-05,"HUGHES, GERALYNNE","2090 TAYLOR RD, CLEVELAND HEIGHTS, OH",...,FEDERAL HOME LOAN MORTGAGE CORPORATION,2009-05-05T11:27:00.000Z,2016.0,0.0,1274.0,4745.0,0.0,2.0,NaN,NaN
1,68401004,68401004,61800.0,"POLYGON ((-81.5806817475017 41.51499576065242,...",12900.0,74700.0,5200,2013-12,HALO INVESTMENTS LLC,"1626 COVENTRY RD, CLEVELAND HEIGHTS, OH",...,C-2000 INC,2013-12-12T15:45:00.000Z,2016.0,0.0,3569.0,7500.0,0.0,NaN,9.0,NaN
2,68112053,68112053,0.0,POLYGON ((-81.56557165053658 41.53004719302985...,2700.0,2700.0,5000,2007-11,"NATIONAL CITY BANK, TRUSTEE","0 OAKHILL RD, CLEVELAND HEIGHTS, OH",...,Gibian Germaine L,2007-11-27T11:51:00.000Z,2016.0,0.0,0.0,2610.0,1.0,NaN,NaN,NaN
3,68401001,68401001,63600.0,POLYGON ((-81.58082800580637 41.51538821948967...,9300.0,72900.0,5100,2008-02,1612 Coventry LLC,"1612 COVENTRY RD, CLEVELAND HEIGHTS, OH",...,1612 Coventry LLC,2008-02-15T00:00:00.000Z,2016.0,0.0,1402.0,3811.0,0.0,NaN,11.0,NaN
4,68221049,68221049,85700.0,POLYGON ((-81.53542516876514 41.53305654011595...,19300.0,105000.0,5100,1990-11,"GHOLSON, LLOYD W.","1025 RENFIELD RD, CLEVELAND HEIGHTS, OH",...,Gary D Geldart,1990-11-27T00:00:00.000Z,2016.0,0.0,2379.0,9000.0,0.0,NaN,NaN,NaN

In [55]:
len(complaints)

1456

In [56]:
len(police)

10549

In [57]:
len(foreclosures)

91291

In [58]:
featureSpace.describe()

,building_t,gross_tax,land_tax,sale_amoun,tax_year,tot_com_sq,tot_res_sq,total_sqft,vacant,FC_count,PD_Count,Complaint_count
count,1.650000e+04,1.650000e+04,1.650000e+04,1.650000e+04,16500.000000,1.650000e+04,16500.000000,1.650000e+04,16500.000000,3533.000000,6422.000000,632.000000
mean,1.213904e+05,3.342673e+04,1.548171e+05,8.947785e+04,1955.031273,8.898865e+02,1745.538909,1.426515e+04,0.045273,1.394282,4.393958,1.299051
std,4.080942e+05,9.199099e+04,4.721997e+05,3.280343e+05,345.257864,1.248760e+04,1092.456752,1.165396e+05,0.207908,0.692494,11.839721,1.131931
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000,0.000000,0.000000
25%,5.830000e+04,1.670000e+04,7.580000e+04,0.000000e+00,2016.000000,0.000000e+00,1344.000000,5.400000e+03,0.000000,1.000000,1.000000,1.000000
50%,7.970000e+04,2.110000e+04,1.008500e+05,3.300000e+04,2016.000000,0.000000e+00,1608.000000,7.200000e+03,0.000000,1.000000,2.000000,1.000000
75%,1.158000e+05,3.250000e+04,1.480000e+05,1.070000e+05,2016.000000,0.000000e+00,2110.000000,9.620000e+03,0.000000,2.000000,4.000000,1.000000
max,3.001520e+07,5.095500e+06,3.338940e+07,1.160000e+07,2016.000000,1.003254e+06,25110.000000,8.102455e+06,1.000000,6.000000,362.000000,15.000000

In [121]:
featureSpace_shp = gpd.GeoDataFrame(featureSpace, crs = {'init': 'epsg:4326'})
featureSpace_shp.crs

{'init': 'epsg:4326'}

In [122]:
featureSpace_shp.to_file('../Data/processed/featureSpace.shp')